@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* FUENTES LOCALES */

@font-face {
    font-family: "Fuente1";
    src: url("../fonts/DINNextLTPro-Regular.woff");
}

@font-face {
    font-family: "Fuente2";
    src: url("../fonts/DINPro-Regular.woff");
}

@font-face {
    font-family: "Fuente3";
    src: url("../fonts/DINNextLTPro-Black.woff");
}

@font-face {
    font-family: "Fuente4";
    src: url("../fonts/din67-webfont.woff");
}

@font-face {
    font-family: "Fuente5";
    src: url("../fonts/trashhand-webfont.woff");
}

.text-DINNext {
    font-family: 'Fuente1';
}

$colorPrincipal: #E3B309;

@mixin transformScale() {
    transform: scale(1.1);
    filter: brightness(90%);
}

@mixin configIndexContent() {
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    display: grid;
    transition: transform .4s;
}

/* FIN de fuentes */


header {
    width: 100%;

}

body {
    background: white
}

/* navegación */
.fondobar {
    background-image: url(../img/texture.webp);
    background-position: center;
    background-size: cover;
}

.navbar {
    a {
        text-decoration: none;
        font-weight: bolder;
        font-size: 16px;

        &:hover {
            color: $colorPrincipal !important;
        }
    }

    ul li {
        padding: 20px;
        display: inline-block;
        list-style: none;
        margin: auto;
        transition: transform .9s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.nav-link {
    color: white !important;
    font-family: 'Fuente2' !important;
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;

    h2 {
        text-transform: uppercase;
        color: white;
        position: relative;
        font-size: 28px;
        left: 0px;
        top: 8px;
    }

    img {
        width: 110px;
        height: 110px;
    }

    h2 span {
        text-transform: uppercase;
        color: $colorPrincipal;
        position: absolute;
    }


}

@keyframes escribir {

    from { width: 100% }
    to { width:0 }
}

.btnPedido {
    a {
        font-family: 'Fuente2';
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1px 15px;
        margin: auto auto auto 400px;
        background-color: $colorPrincipal;
        border-radius: 60px;
        color: #000;
        font-size: 16px;
        animation-duration: 3s;
        animation-name: aparece;
        animation-delay: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        &:hover {
            color: #000 !important;
        }
    }

    img {
        height: 30px;
        width: 30px;
        margin-left: 10px;
    }

}

@keyframes aparece {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* FIN DEL NAV */
/* Carrousel */
@mixin PortadaDatos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.hero {
    background-image: url(../img/PortadaIndex.webp);
    @include PortadaDatos();
}

.hero2 {
    background-image: url(../img/Portada3.jpg);
    @include PortadaDatos();
}

.hero3 {
    background-image: url(../img/Portada1.jpg);
    @include PortadaDatos();
}

.contenedorHero {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: 'Rubik', sans-serif;
        font-size: 36px;
        color: #E3B309;
        margin-bottom: -10px;
    }

    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 100px;
        color: white;
        margin-top: -10px;
    }

    h1 span {
        color: $colorPrincipal;
    }

    p {
        font-family: 'Great Vibes', cursive;
        font-size: 60px;
        line-height: 0px;
        font-weight: 700px;
        margin-top: -20px;
        color: $colorPrincipal;
    }

    p span {
        color: white;
    }
}

/* Section productos */
@mixin sectionVarios {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    height: 150px;
}

.sectionProductos {
    display: flex;
    justify-content: center;
    margin: 70px auto 50px auto;
    height: 125px;
}

.sectionNosotros {
    @include sectionVarios();
}

.sectionTrabaja {
    @include sectionVarios();
}

.sectionContacto {
    @include sectionVarios();
}

/* inicio de primera seccion */
.boxImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;

    img {
        width: 400px;
        border-radius: 800px;
        margin: auto 40px;
    }



}

.textInBox {

    img {

        width: 500px;
        height: 300px;
        border-radius: 20px;
        margin: auto 50px;
    }

    h2 {
        font-family: 'Bebas Neue', cursive !important;
        position: absolute;
        justify-content: center;
        color: white;
        visibility: hidden;
        transition: ease-in-out .2s;
    }   

    &:hover {
        img {
            filter: brightness(40%);
        }

        h2 {
            visibility: visible;
            transform: scale(1.3);
        }

    }
}

.boxAll {
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;

    h2 {
        font-size: 80px;
        text-align: center;
        font-family: 'Great Vibes', cursive;
        font-weight: lighter;
    }

    p {
        font-size: 16px;
        width: 800px;
        line-height: 50px;
    }
}

/* FORM */

.formulario1 {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 50px auto 50px auto;
    width: 600px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 10px;

    input,
    textarea {
        outline: none;
        width: 100%;
        border: 0;
    }

    .field {
        margin-bottom: 20px;
        border: 1px solid #999;
        padding: 10px;
    }

    &:focus {
        border: 3px solid $colorPrincipal;
    }
}

/* BOTON FORMULARIO */
.center-content {
    padding-top: 25px;
    text-align: center;
}

.btn {
    border-radius: 1px;
    height: 50px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba (255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-yellow {
    color: white;
    background-color: #3CC93F;

    &:hover {
        background-color: #37b839;
    }

    &:active {
        background-color: #29962A;
    }
}

.btn-red {
    color: white;
    background-color: #E34242;

    &:hover {
        background-color: #C43535;
    }

    &:active {
        background-color: #A62828;
    }
}

/* FOOTER */

.footer {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #1D1D1D;

    h3 {
        font-family: 'Fuente2';
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    h3:hover {
        color: $colorPrincipal;
    }

    ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;

        a {
            color: inherit;
            text-decoration: none;
            opacity: 0.6;
        }

        a:hover {
            color: $colorPrincipal;
        }
    }
}

.sectionnotFound {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

@media (max-width:767px) {
    .footer .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer .item.text {
    margin-bottom: 36px;
}

.footer .item.social {
    text-align: center;
}

@media (max-width:767px) {
    .footer .item.text {
        margin-bottom: 0;
    }
}

.footer .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer .item.social>a {
    font-size: 15px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    transition: transform .2s;
}

.footer .item.social>a:hover {
    color: $colorPrincipal;
    transform: scale(1.2);
}

.footerIndex {
    background-color: initial;
}

/* SECTION CONTENEDOR IMGS */
.contenedorImgs {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 10px;
    justify-content: center;

    a {
        // font-family: 'Roboto', cursive;
        font-size: 20px;
    }
}

.textoUbicacion {
    background-image: url(../img/Foto1.webp);
    @include configIndexContent();

    &:hover {
        @include transformScale();
    }
}

.textoMenu {
    background-image: url(../img/Foto18.webp);
    @include configIndexContent();

    &:hover {
        @include transformScale();
    }
}

.textoOpinion {
    background-image: url(../img/Foto2.webp);
    @include configIndexContent();

    &:hover {
        @include transformScale();
    }
}

.textoDelivery {
    background-image: url(../img/Foto6.webp);
    @include configIndexContent();

    &:hover {
        @include transformScale();
    }
}

.contenedorProductos {
    margin: 50px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 19%);
    grid-template-rows: repeat(3, 35%);
    justify-content: center;

    h2 {
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
        visibility: hidden;
    }

    img {
        background-size: cover;
        background-repeat: no-repeat;
        width: 350px;
        height: 350px;
        border-radius: 15px;
        display: grid;
        transition: transform .4s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.sectionprodText {
    font-family: 'Roboto', cursive;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 30px;
    font-size: 20px;
    margin: auto;
}

/* fin section contenedor imgs */
@media only screen and (min-width: 320px) and (max-width: 1900px) {
    .btnPedido {
        display: none;
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .navbar {
        ul li:hover {
            transform: none;
        }
    }

    .contenedorHero {
        h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 80px;
            margin-bottom: 10px;
        }

        p {
            font-size: 40px;
        }
    }

    .contenedorImgs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 25%);
    }

    @mixin configIndexMobile {
        justify-content: center;
        width: 250px;
        height: 250px;
    }

    .textoUbicacion {
        margin: 50px auto 370px auto;
        @include configIndexMobile();
    }

    .textoOpinion {
        margin: auto;
        @include configIndexMobile();
    }

    .textoMenu {
        margin: auto;
        @include configIndexMobile();
    }

    .textoDelivery {
        margin: auto;
        @include configIndexMobile();
    }

    .contenedorProductos {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 8.3%);

        img {

            justify-content: center;
            width: 300px;
            height: 300px;
            margin: auto auto 10px auto;
        }

    }

    .sectionprodText {
        line-height: 30px;
        font-size: 18px;
        margin: auto;
    }

    .oculto {
        visibility: hidden;
    }

    .sectionProductos {

        width: 60px;
        height: 60px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .sectionNosotros {
        width: 50px;
        height: 50px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .boxImg {
        margin: auto;
        display: flex;
        flex-direction: column;

        Img {
            width: 80%;
            height: 30%;
            margin: auto;
        }
    }

    .boxSection {
        align-items: center;
        justify-content: center;
    }

    .boxAll {
        width: 100%;
        flex-direction: column;
        gap: 50px;

        h2 {
            font-size: 40px;
            margin: auto;
        }

        p {
            line-height: 30px;
            font-size: 16px;
            margin: auto;
            width: 300px;
            text-align: center;

        }
    }

    .sectionContacto {
        width: 50px;
        height: 50px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .formulario1 {
        width: 90%;
    }

    .sectionTrabaja {
        width: 100px;
        height: 100px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .navbar {
        ul li:hover {
            transform: none;
        }
    }

    .contenedorHero {
        h2 {
            font-size: 30px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 100px;
            margin-bottom: 10px;
        }

        p {
            font-size: 50px;
        }
    }

    .contenedorImgs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 25%);
    }

    @mixin configIndexMore {
        justify-content: center;
        width: 350px;
        height: 350px;
    }

    .textoUbicacion {
        margin: 50px auto 350px auto;
        @include configIndexMore();
    }

    .textoOpinion {
        margin: auto;
        @include configIndexMore();
    }

    .textoMenu {
        margin: auto;
        @include configIndexMore();
    }

    .textoDelivery {
        margin: auto;
        @include configIndexMore();
    }

    .contenedorProductos {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 20%);

        img {
            justify-content: center;
            width: 250px;
            height: 250px;
            margin: auto;
        }

    }

    .sectionprodText {
        line-height: 30px;
        font-size: 26px;
        margin: auto;
    }

    .sectionProductos {
        width: 70px;
        height: 70px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .sectionNosotros {
        width: 80px;
        height: 80px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .boxImg {
        margin: auto;
        display: flex;
        flex-direction: column;

        Img {
            width: 100%;
            height: 40%;
            margin: auto;
        }
    }

    .boxSection {
        align-items: center;
        justify-content: center;
    }

    .boxAll {
        width: 100%;
        flex-direction: column;
        gap: 50px;

        h2 {
            font-size: 35px;
            margin: auto;
        }

        p {
            line-height: 30px;
            font-size: 16px;
            margin: auto;
            width: 400px;
            text-align: center;
        }

    }

    .sectionContacto {
        width: 80px;
        height: 80px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .formulario1 {
        width: 90%;
    }

    .sectionTrabaja {
        width: 100px;
        height: 100px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .footer {
        margin-top: 300px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .navbar {
        ul li:hover {
            transform: none;
        }
    }

    .contenedorHero {
        h2 {
            font-size: 40px;
        }

        h1 {
            font-size: 110px;
            margin-bottom: 10px;
        }

        p {
            font-size: 55px;
        }
    }

    .contenedorImgs {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }

    @mixin configIndexNotebook {
        justify-content: center;
        width: 350px;
        height: 350px;
    }

    .textoUbicacion {
        margin: 80px auto 100px auto;
        @include configIndexNotebook();

    }

    .textoOpinion {
        margin: auto;
        @include configIndexNotebook();
    }

    .textoMenu {
        margin: auto auto 11px auto;
        @include configIndexNotebook();
    }

    .textoDelivery {
        margin: auto;
        @include configIndexNotebook();
    }

    .contenedorProductos {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 27%);

        img {
            justify-content: center;
            width: 250px;
            height: 250px;
            margin: auto;
        }

    }

    .sectionprodText {
        line-height: 30px;
        font-size: 26px;
        margin: auto;
    }

    .sectionProductos {
        width: 100px;
        height: 100px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .sectionNosotros {
        width: 100px;
        height: 100px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .boxImg {
        margin: auto;
        display: flex;
        flex-direction: column;

        Img {
            width: 100%;
            height: 40%;
            margin: auto;
        }

    }

    .boxSection {
        align-items: center;
        justify-content: center;
    }

    .boxAll {
        width: 100%;
        flex-direction: column;
        gap: 50px;

        h2 {
            font-size: 60px;
            margin: auto;
        }

        p {
            line-height: 30px;
            font-size: 15px;
            margin: auto;
            width: 600px;
            text-align: center;
        }
    }

    .sectionContacto {
        width: 100px;
        height: 100px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .formulario1 {
        width: 80%;
    }

    .sectionTrabaja {
        width: 100px;
        height: 100px;
        justify-content: center;
        margin: 50px auto 50px auto;
    }

    .footer {
        margin-top: 200px;
    }

}