 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
 }

 body {
     font-family: 'Roboto', sans-serif;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background: rgb(255,255,255);
background: linear-gradient(66deg, rgba(255,255,255,1) 0%, rgba(150,150,150,1) 84%, rgba(254,254,254,1) 97%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     /* Aqui está la actividad que se pide, no la quiero agregar por una cuestion de gusto */
     /* background: rgb(245, 255, 255);
     /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(150, 150, 150, 1) 96%, rgba(254, 254, 254, 1) 97%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);  */
 }

 header {
     width: 100%;
     font-family: 'Roboto', sans-serif;
 }


 .navegacion {

     display: flex;
     align-items: center;
     height: 120px;
 }

 .logo {
     display: flex;
     align-items: center;
     /* Propiedades de font de logo */
     font-family: 'Bebas Neue', cursive;
     font-size: 30px;
     /* Fin de propiedades de font de logo */
 }

 .logo h2 {
     text-transform: uppercase;
     color: white;
     position: relative;
     font-size: 35px;
     left: 0px;
     top: 8px;
 }

 .logo h2 span {
     text-transform: uppercase;
     color: #E3B309;
     position: absolute;
 }

 .navegacion img {
     width: 100%;
     height: 160px;
 }

 .navegacion ul li {
     margin: 50px;
     display: inline-block;
     list-style: none;
     margin: 0 20px;
 }

 .navegacion a {
     text-decoration: none;
     color: white;
     font-size: 20px;
 }

 .navbar a:hover {
     color: #E3B309;
 }
 .navegacion{
     width: 100%;
     height: 150px;
 }

 .btnPedido a {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 20px;
     background-color: #E3B309;
     border-radius: 60px;
     color: #000;
     font-size: 20px;
     animation-duration: 3s;
     animation-name: aparece;
     animation-delay: 1s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
 }

 @keyframes aparece {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 .btnPedido a:hover {
     color: #000;
 }

 .btnPedido img {
     height: 30px;
     width: 30px;
     margin-left: 10px;
 }

 .hero {
     /* background-image: url(../img/PortadaIndex.jpeg); */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100%;
     width: 100%;
 }

 .contenedorHero {
     height: 900px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .contenedorHero h2 {
     font-family: 'Rubik', sans-serif;
     font-size: 36px;
     color: #E3B309;
 }

 .contenedorHero h1 {
     font-family: 'Bebas Neue', cursive;
     font-size: 144px;
     color: white;
     margin-top: -30px;

 }

 .contenedorHero h1 span {
     color: #E3B309;
 }

 .contenedorHero p {
     font-family: 'Great Vibes', cursive;
     font-size: 72px;
     line-height: 0px;
     font-weight: 700px;
     margin-top: -35px;
     color: #E3B309;
 }

 .contenedorHero p span {
     color: white;
 }

 .contenedorImgs {
     margin: 50px auto;
     display: grid;
     grid-template-columns: repeat(4, 20%);
     grid-template-rows: repeat(2, 1fr);
     gap: 20px;
     justify-content: center;
 }

 .textoUbicacion {
     background-image: url(../img/Foto1.JPG);
     background-size: cover;
     background-repeat: no-repeat;
     width: 500px;
     height: 500px;
     border-radius: 15px;
     display: grid;
     align-items: flex-end;

 }

 .textoMenu {
     background-image: url(../img/Foto1.JPG);
     background-size: cover;
     background-repeat: no-repeat;
     width: 500px;
     height: 500px;
     border-radius: 15px;
     display: grid;
     align-items: flex-end;

 }

 .textoOpinion {
     background-image: url(../img/Foto2.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     width: 500px;
     height: 500px;
     border-radius: 15px;
     display: grid;
     align-items: flex-end;
 }

 .textoDelivery {
     background-image: url(../img/Foto3.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     width: 500px;
     height: 500px;
     border-radius: 15px;
     display: grid;
     align-items: flex-end;
 }

 .textoFoto1 {
     background-image: url(../img/Foto5.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     width: 500px;
     height: 500px;
     border-radius: 15px;
 }

 .textoFoto2 {
     background-image: url(../img/Foto6.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     width: 500px;
     height: 500px;
     border-radius: 15px;
 }

 .textoFoto3 {
     background-image: url(../img/Foto7.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     width: 500px;
     height: 500px;
     border-radius: 15px;
 }

 .textoFoto4 {
     background-image: url(../img/Foto8.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     width: 500px;
     height: 500px;
     border-radius: 15px;
 }

 .contenedorImgs a {
     color: #000;
     text-decoration: none;
     font-weight: bold;
     font-size: 20px;
     padding: 10px 20px;
     background-color: #E3B309;
     border-radius: 20px;
     margin-bottom: 20px;
     width: 200px;
     text-align: center;
 }

 .contenedorFooter {
     background-color: #000;
     padding: 5px;
 }

 .tyc {
     display: flex;
     color: white;
     justify-content: space-evenly;
     align-items: center;
     padding: 40px;
     margin-bottom: 50px;
     margin-top: -20px;
 }

 .tyc ul li {
     display: inline;
     list-style: none;
     margin: 0 70px;

 }

 .tyc ul li a {
     text-decoration: none;
     color: white;
     font-size: 20px;
 }

 .tyc ul li a:hover {
     color: #E3B309;
 }

 .medioContactos {
     display: flex;
     justify-content: space-evenly;
     height: 190px;
     background-color: #000;
     color: #fff;
     font-size: 18px;
 }

 .medioContactos ul li a {
     text-decoration: none;
     color: #fff;
 }

 .medioContactos ul li {
     list-style: none;
     margin: 10px 0;
     font-weight: 500;
 }

 .medioContactos h2 {
     font-size: 30px;
     font-weight: bold;
     margin-bottom: 15px;
 }

 .redes ul li {
     display: flex;
     align-items: center;
     gap: 5px;
 }

 .logoFooter {
     display: flex;
     justify-content: center;

 }

 .logoFooter img {
     width: 250px;
     height: 250px;
     position: relative;
     top: -60px;
     left: 70px;
     display: block;
 }

 .submenu {
     display: none;
 }

 .navegacion ul li:hover .submenu {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 3400px;
     height: 60px;
     margin-top: 45px;
     margin-left: -2300px;
     position: absolute;
     background: #E3B309;
     transition: all .2s ease;

 }

 .submenu li a {
     color: #000;
     margin-left: 450px;
     padding: 75px;

 }

 .submenu li a:hover {
     color: #000;
 }

 /* Index NOSOTROS.HTML */

 .nosotrosPortada {
     background-image: url(../img/Portada1.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 900px;
 }

 .sectionNosotros {
     display: flex;
     justify-content: center;
     margin-top: 70px;
 }


 /* Index PRODUCTOS.HTML */
 .productosPortada {
     background-image: url(../img/Portada2.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 900px;
 }

 .sectionProductos {
     display: flex;
     justify-content: center;
     margin-top: 70px;
     margin-bottom: 50px;
 }

 /* inicio de primera seccion */
 .boxImg {
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .boxImg img {
     width: 500px;
     height: 500px;
     border-radius: 30px;
     margin: auto 50px;
 }

 .boxAll {
     display: flex;
     gap: 150px;
     justify-content: center;
     align-items: center;
     margin-bottom: 100px;
     width: 100%;
 }

 .boxAll h2 {
     font-size: 100px;
     text-align: center;
     font-family: 'Great Vibes', cursive;
     font-weight: lighter;
 }

 .boxAll p {
     font-size: 22px;
     width: 1100px;
     line-height: 50px;
 }

 /* INICIO TRABAJA.HTML */
 .trabajaPortada {
     background-image: url(./img/Portada3.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 900px;
 }

 .sectionTrabaja {
     display: flex;
     justify-content: center;
     margin-top: 70px;
 }


 /* fin de primera seccion */
 .formulario1 {
     display: flex;
     justify-content: center;
     text-align: justify;
     margin: 50px auto 50px auto;
     width: 800px;
     padding: 50px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     border: 1px solid #999;
     border-radius: 10px;
 }

 .formulario1 input,
 textarea {
     outline: none;
     width: 100%;
     border: 0;
 }

 .formulario1 .field {
     margin-bottom: 20px;
     border: 1px solid #999;
     padding: 10px;
 }

 .formulario1 .field:focus {
     border: 3px solid #E3B309;

 }

 /* BOTON FORMULARIO */
 .center-content {
     padding-top: 25px;
     text-align: center;
 }

 .btn {
     border-radius: 3px;
     height: 50px;
     display: inline-block;
     padding: 5px;
     text-decoration: none;
     text-shadow: 0 1px 0 rgba (255, 255, 255, 0.3);
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
 }

 .btn-yellow {
     color: white;
     background-color: #3CC93F;
 }

 .btn-yellow:hover {
     background-color: #37b839;
 }

 .btn-yellow:active {
     background-color: #29962A;
 }

 .btn-red {
     color: white;
     background-color: #E34242;
 }

 .btn-red:hover {
     background-color: #C43535;
 }

 .btn-red:active {
     background-color: #A62828;
 }

 /* INICIO CONTACTO.HTML */
 .contactoPortada {
     background-image: url(../img/portada4.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 900px;
 }

 .sectionContacto {
     display: flex;
     justify-content: center;
     margin-top: 70px;
 }

 /* not found */

 .sectionnotFound {
     display: flex;
     justify-content: center;
     margin-top: 150px;
 }

