body {
    height: 100%;
    width: 100%;
    background-image: url(/img/PortadaIndex.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
 body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
  }
.contenedorHero{
  margin-top: 250px;
}
.btnIngresar{

  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
  font-family: 'Fuente2';
  font-weight: bolder;
  font-size: 20px;
}